.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 48px;
  background: #1b1b1b;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100vw;
}

.log {
  text-decoration: none;
  color: white;
  background: transparent;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.link {
  cursor: pointer;
}
